/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Variables */
:root {
  --cream: #FCF8F5;
  --latte: #E9CEBB;
  --coffee: #8A6052;
  --melon: #FFA199;
  --peach: #FFCA99;
  --ice: #9FC7CF;
  --matcha: #C5D096;
}

/* Global layout */
html {
  background-color: var(--cream);
  font-family: 'Lato', sans-serif;
  font-display: block;
  font-size: 1.125rem;
}

body {
  display:flex;
  flex-direction: column;
  margin: auto 10%;
  min-height: 100vh;
}

main {
  line-height: 1.5;
  flex: 1;
  max-width: 80ch;
  z-index: 10;
}

/* Headings */
h1 {
  margin: 1rem 0;
  font-size: 4rem;
  font-weight: 800;
  font-family: 'Fira Sans', 'Lato', sans-serif;
  z-index: 50;
  position: relative;
}

h2 {
  font-weight: 800;
  font-family: 'Fira Sans', 'Lato', sans-serif;
}

h3 {
  font-weight: 800;
  font-family: 'Fira Sans', 'Lato', sans-serif;
}

/* Links */
a {
  color: var(--coffee);
  &:hover {
    color: var(--melon);
  }
}