---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle="Blog">
    <h2>Today I learned...</h2>
    <p>I am working through Astro's introductory tutorial. This is the third page on my website, a little blog!</p>
    <section>
        {allPosts.map((post: any) => 
        <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} color="melon"/>)}
    </section>
</BaseLayout>

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }
</style>