---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Blog";
---

<BaseLayout pageTitle="Blog">
    <h2>Today I learned...</h2>
    <p>I am working through Astro's introductory tutorial. This is the third page on my website, a little blog!</p>

    <ul>
        <li><a href="/posts/post-1/">My First Astro Blog Post</a></li>
        <li><a href="/posts/post-2/">My Second Astro Blog Post</a></li>
        <li><a href="/posts/post-3/">My Third Astro Blog Post</a></li>
    </ul>
</BaseLayout>
</html>