---
import Social from '../components/Social.astro';
---

<footer>
  <a href="mailto:jayden.alchin@gmail.com">Email</a>
  <Social platform="GitHub" link="https://github.com/jaydenalchin" />
  <Social platform="LinkedIn" link="https://linkedin.com/in/jaydenalchin" />
  <Social platform="X" link="https://x.com/jaydenalchin" />
</footer>

<style> 
  footer {
    display: flex;
    gap: 1rem;
    padding: 3rem 0;
    a {
     text-decoration: none;
    }
  }

</style>