---
import Navbar from '../components/Navbar.astro';
---
<header>
    <a href="/"><img class="logo" src="/logo.svg"/></a>
    <Navbar />
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
    }
    .logo {
        height: 2rem;
        width: auto;
        transition: transform 250ms ease;
        &:hover {
            transform: scale(1.2);
            fill: var(--peach);
        }
    }
</style>