---
---
<nav> 
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</nav>

<style>
    nav {
        display: flex;
        gap: 2rem;
        a {
            text-decoration: none;
            transition: transform 250ms ease;
            &:hover {
                transform: translateY(-4px);
            }
        }
    }

    @media screen and (max-width: 636px) {
    nav a {
        display: none;
    }
</style>